body {
  position: relative;
}
footer {
  min-height: 10vh;
  padding-top: 40px;
  padding-bottom: 10px;
  color: gray;
  background-color: black;
}
h1, h2, p {
  text-align: center;
}
a {
  color: white;
}
.gray-text {
  color: gray;
}
.project-text {
  color: gray;
}
img {
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
.thumbnail img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}
.me {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: gray;
}
.displayed {
  display: block;
  margin-right: auto;
  margin-left: auto
}
.img-text {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 30%;
  padding-left: 30%;
}
.social {
  padding-top: 10px;
}
.panel-body {
  color: black;
}
.navbar-header {
  padding-left: 10%;
}
.navbar-right {
  padding-right: 10%;
}
.home {
  position: relative;
  min-height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  background-color: #1E88E5;
}
.experience {
  min-height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  background-color: #009688;
}
.portfolio {
  min-height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  background-color: #ff9800;
}
.contact {
  min-height: 90vh;
  padding-top: 10%;
  padding-bottom: 50px;
  color: #fff;
  background-color: #00bcd4;
}
.contact-info {
  max-width: 80vh;
  min-height: 60vh;
  margin: auto;
}
