p, form {
  text-align: center;
  font-family: cursive, sans-serif;
}
p {
  font-size: 20px;
}
footer {
  background-color: black;
  color: gray;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  font-family: cursive, sans-serif;
}
section {
  min-height: 90vh;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 10px;
}
body {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.well {
  margin-left: 35%;
  margin-right: 35%;
  background-color: rgba(255,255,255,0.75);
}
h1, h2 {
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  font-family: cursive, sans-serif;
}
img {
  width: 100px;
  height: 100px;
}
