section
  .app-container
    .tiles.green(data-tile='4') 
    .tiles.red(data-tile='1') 
    .tiles.yellow(data-tile='3') 
    .tiles.blue(data-tile='2') 
    .board
      .circle
        .brand
          span Simon
        .middle-row
          .display
            .round-number
            span.label ROUND
          .start
            .start-button
            span.label START
          .strict
            .strict-button
            span.label STRICT
        .bottom-row
          span.off OFF
          .power-bg
            .power-button.float-left
          span.on ON