section
  .win.hidden YOU WIN!
    .modal-buttons
      span.play-again PLAY AGAIN
      span.quit QUIT
  .lose.hidden OH NO!
    .modal-buttons
      span.play-again PLAY AGAIN
      span.quit QUIT
  // the game 
  .app-container
    .tiles.green(data-tile='4') 
    .tiles.red(data-tile='1') 
    .tiles.yellow(data-tile='3') 
    .tiles.blue(data-tile='2') 
    .board
      .circle
        .brand
          span Simon
          span.reg &#174;
        .middle-row
          .display
            .round-number
            span.label ROUND
          .start
            .start-button
            span.label#start START
          .strict
            .strict-button
            span.label STRICT
        .bottom-row
          span.off OFF
          .power-bg
            .power-button.float-left
          span.on ON
          // TO-DO: COME UP WITH A PROPER FOOTER FOR THE TEAM
 footer
 p Copyright © Rafael J. Rodriguez & #[a(href='mailto: guy@guylemon.com') Guy Lemon] 2015. All Rights Reserved
 p 
   a(href='mailto:rafase282@gmail.com')
     i.fa.fa-envelope.fa-fw
   a(href='https://github.com/Rafase282',target='_blank')
     i.fa.fa-github.fa-fw
   a(href='https://www.linkedin.com/in/rafase282',target='_blank') 
     i.fa.fa-linkedin
   a(href='http://codepen.io/Rafase282',target='_blank') 
     i.fa.fa-codepen
   a(href='https://rafase282.wordpress.com',target='_blank') 
     i.fa.fa-wordpress
   a(href='https://rafase282.wordpress.com',target='_blank')  (
     i.fa.fa-fire.fa-fw )