h2 {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #663300;
}

h1 {
  font-size: 52px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #663300;
}

section {
  min-height: 90vh;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  bottom: 10px;
}

footer {
  background-color: black;
  color: gray;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 6px;
  position: fixed;
  text-align: center;
  font-family: cursive, sans-serif;
  width: 100%;
  bottom: 0;
}

.well {
  text-align: center;
  color: black;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(255,255,255,0.75);
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}

p{
  font-size: 150%;
}

.icon {
  width: 25%;
  height: 25%;
}
